@page "/Inventory/{TaskId}/Details/{OperationId}"
@using Uni.Scan.Shared.Extensions
@layout NoAppBarLayout


<MudAppBar Elevation="5" Dense="true" Style="border-top: solid 2px #7398c1;">

    @if (_inventoryOperation != null)
    {
        <MudText Typo="Typo.h6" Class="ml-2"> @Localizer["Inventaire"] : @(_inventoryTask.Number) </MudText>

    }

    <MudSpacer />



</MudAppBar>
@*<div style="height: 48px">
    <MudTextField @ref="barcodeInputText" T="string" ValueChanged="ValueInputChanged" DebounceInterval="50" Variant="Variant.Text" Adornment="Adornment.None" AdornmentIcon="@Icons.Filled.Search" />
</div>*@
<div style="height: 48px">
    <MudButton Disabled="_global.IsLoading" Style="background: #507298" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="FocusScanInput">
        @Localizer["Zone : "] @(_inventoryOperation.LogisticsAreaID)
    </MudButton>
</div>

@if (!_InventoryDetails.IsNullOrEmpty())
{


    <table style="width: 100%;">
        <tr>
            @if (_showNavigationArrows)
            {
                <td style="width: 40px">
                    <MudFab Disabled="_global.IsLoading" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowLeft" Size="Size.Small" OnClick="@(async () =>await MoveStep(-1))" />
                </td>
            }

            <td style="width:40px;padding: 0px;">
                <MudButton @ref="_pageNulberButton" Disabled="_global.IsLoading" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">@((_currentIndex + 1).ToString() + " / " + _lineCount)</MudButton>
                </td>
                <td>
                    <MudButton Disabled="_global.IsLoading" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="FocusScanInput"> @_current.ProductID</MudButton>
                </td>
                @if (_showNavigationArrows)
            {
                <td style="width: 40px">
                    <MudFab Disabled="_global.IsLoading" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" OnClick="@(async () => await MoveStep(1))" />
                </td>
            }

        </tr>
    </table>
    @if (!string.IsNullOrWhiteSpace(_current?.ProductID))
    {
        <MudPaper Elevation="3" class="pa-3 mt-3" Style="border-left: solid 4px #597ceb">
            <div class="d-flex" style="max-height: 48px; height: 48px">
                <MudText Typo="Typo.body1" style="color: #0a5291; font-weight: bold">
                    @_current.ProductID
                </MudText>
            </div>
            <div class="d-flex" style="padding-right: 4px">
                <MudText Class="mt-1" Style="font-weight: bold; color: #95149f"></MudText>
                <div class="d-flex ml-auto">

                    <MudText Typo="Typo.body2" Class="mt-1">
                        <strong style="font-weight: bold">
                            @_current.CountedQuantity.ToString("N2") @_current.CountedQuantityUnitCode
                        </strong>
                    </MudText>
                </div>

            </div>
        </MudPaper>
    }

    <div style="height:calc(100vh - 315px); overflow-y:auto">

        @if (_current != null && !string.IsNullOrWhiteSpace(_current.ProductID))
        {

            <MudPaper Elevation="3" class="pa-3 mt-3" Style="border-left: solid 4px #597ceb">

                @if (!string.IsNullOrWhiteSpace(_current.IdentifiedStockID) || _current.isNewItem)
                {
                    <MudTextField For="@(() => _current.IdentifiedStockID)"
                      @bind-Value="_current.IdentifiedStockID" Label="@Localizer["ID Stock"]"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Casino" AdornmentColor="Color.Secondary"
                      Clearable="_current.isNewItem"
                      Error="_current.IsStockIDError"
                      ErrorText="_current.StockIDErrorText"
                      Disabled="!_current.isNewItem"
                      Style="font-weight: bolder;color: #0a5291;text-align: center" />
                }

                <MudNumericField For="@(() => _current.CountedQuantity)"
                         @bind-Value="_current.CountedQuantity" Format="N2" Label="@(Localizer["Quantité physique"])"
                         HideSpinButtons="true" Adornment="Adornment.End" AdornmentColor="Color.Info"
                         Style="@(_current.ZeroCountedQuantityConfirmedIndicator ? "color: #424242;text-align: center;":"font-weight: bolder;color: #0a5291;text-align: center;")"
                         AdornmentText="@(_current.CountedQuantityUnitCode)"
                         Clearable="true"
                         Disabled="_current.ZeroCountedQuantityConfirmedIndicator"
                         @ref="CountedQuantityField"
                         Culture="_global.CustomCulture" />

                <MudCheckBox @bind-Checked="@_current.ZeroCountedQuantityConfirmedIndicator"
                     Label="@Localizer["Article non present"]"
                     Size="Size.Large" Color="Color.Warning"></MudCheckBox>

            </MudPaper>

            @*      @if (_current.isNewItem)
    {
    <table style="width: 100%;">
    <tr>

    <td>

    </td>

    <td style="width: 40px">
    <MudFab Disabled="_global.IsLoading" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Class="my-1 mx-1" Size="Size.Small" OnClick="AddNewItem" />
    </td>


    </tr>
    </table>
    }*@

        }
        else if (_current != null)
        {
            <MudPaper Elevation="3" class="pa-3 mt-3" Style="border-left: solid 4px #597ceb">



                <MudCheckBox @bind-Checked="@_current.ZeroCountedQuantityConfirmedIndicator"
                     Label="@Localizer["Zone vide"]"
                     Size="Size.Large" Color="Color.Warning"></MudCheckBox>

            </MudPaper>
        }



    </div>

}
<div style="margin-bottom: 53px"></div>
<MudAppBar Bottom="true" Fixed="true" Color="Color.Primary" Elevation="1" Class="mobile-footer-barr">
    <MudIconButton Icon="@Icons.Material.Filled.KeyboardReturn" Style="background-color: orange;color: white" Edge="Edge.Start"
                   OnClick="@(BackToParent)" />
    <MudSpacer />
    @*    <MudIconButton Disabled="!_global.AllowInventoryAddItem" Icon="@Icons.Material.Filled.Add"  Class="ml-6" Style="background-color: #1E88E5;color: white" Edge="Edge.Start"
    OnClick="AddNewItem" />*@
    <MudSpacer />
    @if (_global.ShowScanButton)
    {
        <MudIconButton Disabled="_global.IsLoading" Icon="@Icons.Material.Filled.QrCode2" Class="mr-0" Style="background-color: #1E88E5; color: white" Edge="Edge.End"
                   OnClick="ScanBarCode" />
    }
</MudAppBar>