@page "/StockOverview"
@using Uni.Scan.Transfer.DataModel
@layout NoAppBarLayout

<style>
    .blue-input:focus {
        background: yellow;
        color: blue;
    }

</style>

@if (_global.IsMobileView)
{
    <MudAppBar Elevation="5" Dense="true" Style="border-top: solid 2px #7398c1;">
        <MudText Typo="Typo.h6" Class="ml-2">@Localizer["STOCK"] : @SiteId </MudText>

        <MudSpacer/>
        <MudIconButton Disabled="_global.IsLoading" Icon="@Icons.Material.Filled.ExpandCircleDown" Size="Size.Medium" Style="background: #4083e7; color: #ffffff; padding: 5px; border: solid" Edge="Edge.Start"
                       OnClick="ToggleOpen"/>
    </MudAppBar>
@*    <div style="margin-top: 50px"></div>*@
}


<MudPaper Square="@true" hidden="@(!_isOpen)" Elevation="3" class="px-2 pb-1 mb-2" Style="border-left: solid 4px #597ceb">
    <div class="d-flex flex-column">
       
        @if (_UserSiteId == "*")
        {
            <MudSelect Label="@Localizer["Site"]"  @bind-Value="SiteId" T="string">
                <MudSelectItem Value="@("*")" T="string"> -=TOUT=- </MudSelectItem>
                @foreach (var site in _sites)
                {
                    <MudSelectItem Value="@site.SiteID" T="string">@site.SiteName</MudSelectItem>
                }
            </MudSelect>
        }
        <MudTextField @bind-Value="LogisticsAreaId" Clearable="true" Label="@Localizer["Zone logistique"]"/>
        <MudTextField @bind-Value="ProductId" Clearable="true" Label="@Localizer["Produit / GTIN"]"/>
        <MudTextField @bind-Value="IdentifiedStockId" Clearable="true" Label="@Localizer["Stock identifié"]"/>


    </div>
    <MudToolBar>
        <MudSpacer/>
        <MudIconButton ButtonType="ButtonType.Submit" Icon="@Icons.Material.Filled.Search" Style="background-color: #006eb8; color: white"
                       Edge="Edge.End" OnClick="Search"/>
    </MudToolBar>
</MudPaper>
<div style="max-height: calc(100vh - 120px); overflow-y: auto; padding: 5px">


    <StockOverViewComponenet @ref="_stockOverViewComponenet" StockSelected="StockSelected"></StockOverViewComponenet>


</div>


<div style="margin-bottom: 53px"></div>
<MudAppBar Bottom="true" Fixed="true" Color="Color.Primary" Elevation="1" Class="mobile-footer-barr">

    <MudIconButton Icon="@Icons.Material.Filled.KeyboardReturn" Style="background-color: orange; color: white" Edge="Edge.Start"
                   OnClick="Return"/>
    <MudSpacer/>
@*    <MudIconButton ButtonType="ButtonType.Submit" Icon="@Icons.Material.Filled.Search" Style="background-color: #006eb8; color: white"
                   Edge="Edge.End" OnClick="Search"/>*@

</MudAppBar>